@model Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "MyAccount";
}

<div class="text-center">
    <h1 class="display-4">My Account</h1>

</div>
