@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "Tweeter";
}

<div class="text-center">
    <h1 style="color:#0d80d8">Admin zone</h1>
    <h2>This page is for administrators only. If you aren't an admin, and you are reading this then you are breaking the law.</h2>

    <a href="/admin/PasswordReset">Password Reset (jerry only)</a>
    <br/>
    <a href="/admin/UserList">User List</a>
</div>
