@model UserModel?
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Tweeter";
}

<div class="text-center">
    <h1 style="color:#0d80d8">Admin zone: Password Reset</h1>
    <h2>This page is for administrators only. If you aren't an admin, and you are reading this then you are breaking the law.</h2>
    <a>This is the password reset page for jerry. This lets you resets his password because he always forgets it.</a>
    <form method="post">
        @if (SignInManager.IsSignedIn(User))
        {
        <span>Whos password do you want to reset?</span>
        <input type="text" name="Username">
        }
        <br>
        What should their password be now?
        <input type="text" name="Password"></input>
        <input type="submit" value="Submit" style="float: right;">
    </form>
    @if (Model != null)
    {
        @if (Model.UserName != "jerry")
        {
            <a style="color: red">This form is for jerry only</a>
        }
        else
        {
            <br></br>
            <span>Name: @Model.UserName</span>
            <br></br>
            <span>New Password: @Model.Password</span>
            <br>
            <a style="color: green">You found the jerry flag: TODO: set this flag in prod</a>
        }
    }

</div>
